/* ==UserStyle==
@name           Classic Reddit
@namespace      USO Archive
@author         SlippingGitty
@description    `A collaboration style I made with a few people/people's help.* Posts show full post scores. (10.5k = 10,500)* Old reddit thumbnails! Now everything doesn't look uniformed.* Removed Multireddit sidebar* Hide Arrows when post is archivedRead more here: https://ghostbin.com/paste/rps7s(Credit to some of the snipits I didnt make are in the CSS)`
@version        201919.4.3
@license        NO-REDISTRIBUTION
@preprocessor   uso
==/UserStyle== */
@-moz-document domain("reddit.com") {
/* old reddit icons */
.thumbnail.self {

    height: 50px;

    background-image: url(https://www.redditstatic.com/sprite-reddit.ZDiVRxCXXWg.png);

    background-position: 0px -491px;

    background-repeat: no-repeat;
}

.thumbnail.default {

    background-image: url(https://www.redditstatic.com/sprite-reddit.ZDiVRxCXXWg.png);

    background-position: 0px -434px;

    background-repeat: no-repeat;

    height: 50px;
}

.thumbnail.image {

    background-image: url(https://www.redditstatic.com/sprite-reddit.ZDiVRxCXXWg.png);

    background-position: 0px -434px;

    background-repeat: no-repeat;

    height: 50px;
}

.thumbnail.nsfw {

    background-image: url(https://www.redditstatic.com/sprite-reddit.ZDiVRxCXXWg.png);

    background-position: 0px -361px;

    background-repeat: no-repeat;

    height: 69px;
}

.thumbnail.spoiler {

    background-image: url(https://imgoat.com/uploads/679091c5a8/5031.png);

    background-position: 0px -361px;

    background-repeat: no-repeat;

    height: 69px;
}

.expando-button.selftext.collapsed:hover,

.eb-sch {

    background-image: url(http://www.redditstatic.com/sprite-reddit.jzJhk9_9j8Q.png);

    background-position: -61px -547px;

    background-repeat: no-repeat;
}

.expando-button.selftext.collapsed {

    background-image: url(http://www.redditstatic.com/sprite-reddit.jzJhk9_9j8Q.png);

    background-position: -90px -547px;

    background-repeat: no-repeat;
}

.expando-button.video.collapsed {

    background-image: url(http://www.redditstatic.com/sprite-reddit.jzJhk9_9j8Q.png);

    background-position: -87px -584px;

    background-repeat: no-repeat;
}

.expando-button.video.collapsed:hover,

.eb-vch {

    background-image: url(http://www.redditstatic.com/sprite-reddit.jzJhk9_9j8Q.png);

    background-position: -58px -584px;

    background-repeat: no-repeat;
}

.expando-button.selftext.expanded,

.eb-se {

    margin-bottom: 5px;

    background-image: url(http://www.redditstatic.com/sprite-reddit.jzJhk9_9j8Q.png);

    background-position: -29px -584px;

    background-repeat: no-repeat;
}

.expando-button.selftext.expanded:hover,

.eb-seh {

    background-image: url(http://www.redditstatic.com/sprite-reddit.jzJhk9_9j8Q.png);

    background-position: 0px -584px;

    background-repeat: no-repeat;
}

.expando-button.video.expanded,

.eb-ve {

    background-image: url(http://www.redditstatic.com/sprite-reddit.jzJhk9_9j8Q.png);

    background-position: -29px -613px;

    background-repeat: no-repeat;
}

.expando-button.video.expanded:hover,

.eb-veh {

    background-image: url(http://www.redditstatic.com/sprite-reddit.jzJhk9_9j8Q.png);

    background-position: 0px -613px;

    background-repeat: no-repeat;
}

.expando-button.image,
.expando-button.video-muted,
.expando-button.expando-button-loading,
.expando-button.expando-button-requires-permission {
    vertical-align: top !important;
    width: 23px;
    height: 23px;
    max-width: 23px;
    max-height: 23px;
    display: inline-block;
    background-image: url(https://imgur.com/m2osmrU.png);
    margin-right: 6px;
    padding: 0;
}



/* What's Hot by VCX*/
#header .tabmenu li:first-child a:before {

    content: "What's ";
}



/* Old Reddit Expandos Credit /u/ridddle */
.comment .tagline {

    display: inline-block !important;
}

.comment .expand {

    float: right !important;

    margin: -2px 0 0 2px !important;
}



/* Hide multireddit sidebar by Dropping_fruits*/
.listing-chooser {

    display: none
}

.content[role=main] {

    margin-left: 5px!important
}



/* Add /U/ before usernames */
a.author:before {

    content: "/u/";

    text-transform: none!important;
}



/* Old Comment Font Size */
.md {

    font-size: inherit;

    line-height: normal;
}

.md p {

    line-height: normal;
}

.md pre > code {

    font-size: small;
}

.md h1 {

    font-size: 1.2em;

    line-height: normal;
}



/* Show Full Link and Comment Scores */
.link .score {

    font-size: 0;
}

.link .score::before {

    content: attr(title);

    font-size: 12px
}

.link .score::first-letter {

    font-size: 12px;
}



/* Spoiler tag */
a[href$="/spoiler"] {

    background: #000 !important;

    color: #000 !important
}

a[href$="/spoiler"]:hover {

    color: #FFF !important
}



/* Hide arrows when post is archived */
.archived-infobar ~ #siteTable .arrow,

.archived-infobar ~ .commentarea .arrow {

    visibility: hidden;
}



/* Change Color of Post Information by VCX */
.linkinfo {

    padding: 5px;

    border: 1px solid rgba(12, 10, 10, 0.41);

    background-color: rgba(134, 130, 130, 0.24);

    font-family: arial, helvetica, sans-serif;

    font-size: larger;

    border-radius: 3px;
}



/* Hide + Button on /r/all and /r/Popular by VCX */
.tagline .subreddit-subscribe,
.search-result-meta .subreddit-subscribe {
    display: none;
}



/* Hide chat button on Userbar (fixed by /u/DaveLambert)*/
#chat {
    display: none;
}
.separator:nth-of-type(3) {
    display: none;
}
#chat-count {
    display: none;
}



/* Hide "join the redesign" button by VCX */
#sr-header-area .redesign-beta-optin {
    display: none;
}




/* Hide the "See what's Popular" banner by VCX */
.infobar.onboardingbar {
    display: none;
}




/* Old gold icon by /u/itty53 */
    .gilded-gid2-icon:before { 
      width: 13px; 
      height: 13px; 
      background-position: -42px -1676px !important;
    }


/* Remove reddit premium ad by VCX*/

.premium-banner {
    background: white;
    padding: 16px 28px 20px;
    background: #1C2A38;
    position: relative;
    text-align: center;
    display: none;
}
}
