/* ==UserStyle==
@name           reddit Dark Pastel (For RES Night Mode)
@namespace      USO Archive
@author         SlippingGitty
@description    `THE HEXES USED IN THIS THEME ARE FROM AND INSPIRED BY A REDDIT SYNC THEME BY /u/dudinacas. YOU CAN SEE THE THREAD HERE: https://redd.it/6fjms0. ALSO NOTE THAT THIS WILL NOT WORK WITH THE UPCOMING REDESIGN. I WILL CONTINUE WORKING ON THIS FOR LEGACY USERS THOUGH.I originally gave up making this theme when I deleted my old reddit account, but decided to keep working on it after I realized that I prefer this color pallet over the actual RES Dark Theme color.I recommend turning on  autoColorUsernames in RES (under https://www.reddit.com/prefs/#res:settings/userHighlight), and checking "Random color, not too bright, consistent for each user) just for aesthetics.`
@version        2019530.18.34
@license        NO-REDISTRIBUTION
@preprocessor   uso
==/UserStyle== */
@-moz-document domain("reddit.com") {
/* Header*/

#sr-header-area a {
    font-size: 100%;
}
injected stylesheet
.res-nightmode #RESSubredditGroupDropdown a, .res-nightmode .RESNotificationContent, .res-nightmode .RESNotificationFooter, .res-nightmode .sr-bar a {
    color: #14ef9b;
}

.res-nightmode #sr-header-area, .res-nightmode #sr-more-link {
    background-color: #13001e;
    color: #14ef9b;
}

#RESShortcutsEditContainer .res-icon {
    font-size: 14px;
}
injected stylesheet
.res-nightmode #RESShortcutsEditContainer, .res-nightmode #RESShortcutsSort, .res-nightmode #RESShortcutsRight, .res-nightmode #RESShortcutsLeft, .res-nightmode #RESShortcutsAdd {
    background: #13001e;
}

.res-nightmode #RESShortcutsEditContainer, .res-nightmode #RESShortcutsSort, .res-nightmode #RESShortcutsRight, .res-nightmode #RESShortcutsLeft, .res-nightmode #RESShortcutsAdd {
    background: #13001e;
}

.dropdown.srdrop .selected {
    color: #41cdff;
}

/* Username */

.res-nightmode .login-form, .res-nightmode .login-form-side .submit, .res-nightmode #header-bottom-right, .res-nightmode #srList, .res-nightmode .dropdown.lightdrop .drop-choices {
    background-color: #13001e;
}


/* Body */

.res-nightmode .entry.res-selected, .res-nightmode .entry.res-selected .md-container {
    background-color: #1e0b38 !important;
}

.res-nightmode body, .res-nightmode .sidebar .md, .res-nightmode .side, .res-nightmode .side *, .res-nightmode .side .spacer, .res-nightmode .content, .res-nightmode .traffic-tables .traffic-table tr, .res-nightmode .parentComment .md, .res-nightmode .post-body.entry-content, .res-nightmode .dsq-auth-header, .res-nightmode .instructions .preftable th, .res-nightmode #BigEditor .markdownEditor a, .res-nightmode #BigEditor .markdownEditor .RESMacroDropdownTitle, .res-nightmode #REScommentSubToggle, .res-nightmode #alert_message, .res-nightmode #report-action-form {
    color: #ff6c7d;
}

.res-nightmode #header, .res-nightmode .liveupdate-home .content {
    background-color: #ff6c7d;
}

.res-nightmode .thing .title:visited, .res-nightmode .thing.visited .title, .res-nightmode .combined-search-page .search-result.visited a, .res-nightmode .combined-search-page .search-result a:visited, .res-nightmode .combined-search-page .search-result a:visited > mark {
    color: #7fddc2;
}

.res-nightmode .thing .title {
    color: #14ef9b;
}


.res-nightmode body, .res-nightmode body .content, .res-nightmode .modal-body, .res-nightmode .side, .res-nightmode .icon-menu a, .res-nightmode .side .leavemoderator, .res-nightmode .side .leavecontributor-button, .res-nightmode .side .titlebox, .res-nightmode .side .spacer .titlebox .redditname, .res-nightmode .side .titlebox .flairtoggle, .res-nightmode .side .usertext-body .md ol, .res-nightmode .side .usertext-body .md ol ol, .res-nightmode .side .usertext-body .md ol ol li, .res-nightmode .modactionlisting table *, .res-nightmode .side .recommend-box .rec-item {
    background-color: #13001e;
    border-color: #1e0b38;
}

.res-nightmode .RES-keyNav-activeElement, .res-nightmode .RES-keyNav-activeElement .md-container {
    background-color: #1e0b38 !important;
}

.res-nightmode.res-filteReddit-filterline-pad-until-ready .listing-page .content[role="main"] > .spacer:nth-of-type(2)::before, .res-nightmode .res-filterline {
    background-color: #13001e;
}

.res-nightmode.res-commentBoxes .comment {
    border-color: #1e0b38 !important;
}
injected stylesheet
.res-nightmode.res-commentBoxes .comment, .res-nightmode.res-commentBoxes .comment .comment .comment, .res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment, .res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment, .res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: #1e0b38;
}

.res-nightmode.res-commentBoxes .comment {
    border-color: #1e0b38 !important;
}

.res-nightmode.res-commentBoxes .comment, .res-nightmode.res-commentBoxes .comment .comment .comment, .res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment, .res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment, .res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: #1e0b38;
}

.res-nightmode .message.message-reply .entry, .res-nightmode .message.message-parent .entry, .res-nightmode .flairselector.drop-choices.active, .res-nightmode .message.threaded .child, .res-nightmode .comment .child, .res-nightmode .comment .showreplies, .res-nightmode .message.message-reply:not(.threaded) .entry, .res-nightmode .message.message-parent:not(.threaded) .entry, .res-nightmode.liveupdate-app .content, .res-nightmode .liveupdate-listing li.separator::before, .res-nightmode .md td, .res-nightmode .md th, .res-nightmode .footer, .res-nightmode .footer .col, .res-nightmode .userTagLink.hasTag, .res-nightmode #userTaggerPreview {
    border-color: #1e0b38;
}

.res-nightmode .RES-keyNav-activeElement > .tagline, .res-nightmode .RES-keyNav-activeElement .md-container > .md, .res-nightmode .RES-keyNav-activeElement .md-container > .md p {
    color: #14ef9b !important;
}

.res-nightmode > .content > .spacer > .sitetable::before, .res-nightmode > .content > .sharelink ~ .sitetable::before, .res-nightmode .side .age, .res-nightmode .trophy-info *, .res-nightmode .golddvertisement, .res-nightmode .flair-jump .title, .res-nightmode .NERdupe p.title::after, .res-nightmode .savedComment, .res-nightmode .md, .res-nightmode .md h2, .res-nightmode .content .sitetable .thing .md, .res-nightmode .side .usertext-body ol, .res-nightmode .side .redditname a, .res-nightmode .side h1, .res-nightmode .side h2, .res-nightmode .side h3, .res-nightmode .side h4, .res-nightmode .side h5, .res-nightmode .side h6, .res-nightmode .content .wiki-page-content .md.wiki h1, .res-nightmode .content .wiki-page-content .md.wiki h2, .res-nightmode .content .wiki-page-content .md.wiki h3, .res-nightmode .content .wiki-page-content .md.wiki h4, .res-nightmode .content .wiki-page-content .md.wiki h5, .res-nightmode .content .wiki-page-content .md.wiki h6, .res-nightmode .content .wiki-page-content .md.wiki p, .res-nightmode .wiki-page .wiki-page-content .pagelisting, .res-nightmode .RESUserTag, .res-nightmode .sidebar h1, .res-nightmode .sidebar h2, .res-nightmode .sidebar h3, .res-nightmode .sidebar h4, .res-nightmode .sidebar h5, .res-nightmode .sidebar h6, .res-nightmode .flairselector h2, .res-nightmode .wiki-page .wiki-page-content .description h2 {
    color: #14ef9b;
}

.res-nightmode.res-commentBoxes .comment .comment, .res-nightmode.res-commentBoxes .comment .comment .comment .comment, .res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment, .res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment, .res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: #14ef9b;
}

/* Multireddit sidebar that no body likes but hey some people do so I guess I'll color it for athestics */

.res-nightmode body.with-listing-chooser .listing-chooser .grippy, .res-nightmode body.with-listing-chooser .listing-chooser.initialized .grippy, .res-nightmode body.with-listing-chooser.listing-chooser-collapsed .listing-chooser .grippy, .res-nightmode body.with-listing-chooser.listing-chooser-collapsed .listing-chooser.initialized .grippy {
    background-color: #13001e;
}

.res-nightmode body.with-listing-chooser .listing-chooser .grippy:hover::before, .res-nightmode body.with-listing-chooser .listing-chooser.initialized .grippy:hover::before, .res-nightmode body.with-listing-chooser.listing-chooser-collapsed .listing-chooser .grippy:hover::before, .res-nightmode body.with-listing-chooser.listing-chooser-collapsed .listing-chooser.initialized .grippy:hover::before {
    background-color: #13001e;
}

.res-nightmode body.with-listing-chooser .listing-chooser .grippy:hover, .res-nightmode body.with-listing-chooser .listing-chooser.initialized .grippy:hover, .res-nightmode body.with-listing-chooser.listing-chooser-collapsed .listing-chooser .grippy:hover, .res-nightmode body.with-listing-chooser.listing-chooser-collapsed .listing-chooser.initialized .grippy:hover {
    background-color: #13001e;
    border-left-color: #13001e;
}


injected stylesheet
.res-nightmode body.with-listing-chooser .listing-chooser .grippy::after, .res-nightmode body.with-listing-chooser .listing-chooser.initialized .grippy::after, .res-nightmode body.with-listing-chooser.listing-chooser-collapsed .listing-chooser .grippy::after, .res-nightmode body.with-listing-chooser.listing-chooser-collapsed .listing-chooser.initialized .grippy::after {
    background-color: #13001e;
    border-right-color: #13001e;
}


.res-nightmode .listing-chooser li, .res-nightmode .listing-chooser li.selected {
    background-color: #291435;
    color: #13001e;
    box-shadow: none;
    border-color: #13001e;
}

.res-nightmode body.with-listing-chooser .listing-chooser, .res-nightmode body.with-listing-chooser.listing-chooser-collapsed .listing-chooser {
    background-color: #13001e;
}

.res-nightmode .listing-chooser li a, .res-nightmode .listing-chooser li.selected a {
    color: rgb(136, 170, 221);
}

/* Buttons */

.res-nightmode a, .res-nightmode .md a, .res-nightmode .share-button .option, .res-nightmode #subscribe a, .res-nightmode .share .option, .res-nightmode .wired a, .res-nightmode .side a, .res-nightmode .link .score.dislikes, .res-nightmode .linkcompressed .score.dislikes, .res-nightmode a[rel="tag"], .res-nightmode .dsq-help, .res-nightmode #authorInfoToolTip h3 a, .res-nightmode .reddiquette, .res-nightmode .parent .author, .res-nightmode .parent .subreddit, .res-nightmode .combined-search-page .search-result a, .res-nightmode .combined-search-page .search-result a > mark, .res-nightmode .hoverHelp, .res-nightmode .deepthread a, .res-nightmode .policy-page .md h1 a, .res-nightmode .policy-page .md h3 a {
    color: #41cdff;
}

.res-nightmode .morelink {
    background: #1e0b38;
    border-color: #13001e;
}

/* Infobox */

.res-nightmode .link .usertext-body .md, .res-nightmode .side .linkinfo {
    border-color: #13001e;
}
injected stylesheet
.res-nightmode .sidebox .spacer, .res-nightmode .side .linkinfo {
    background-color: #1e0b38;
}

/* Sidebar */

.res-nightmode .side .titlebox form.flairtoggle, .res-nightmode .trophy-area .content, .res-nightmode .side .md ol, .res-nightmode .side .md ul {
    background-color: #13001e;
    color: rgb(221, 221, 221);
}

/* Search */

#search input[type=text] {
    border: 1px solid #14ef9b;
}

.res-nightmode #searchexpando, .res-nightmode .post-sharing {
    background: #13001e;
    border-color: #13001e;
}


/* Misc */

.tagline a, .search-result-meta a {
    color: #7fddc2;
    text-decoration: none;
}

/*------NEW PROFILES------*/

/* New Profiles Colors */

.res-d2x-nightmode .BlueBar {
    background: #ff6c7d;
}

.res-d2x-nightmode body {
    background-color: #13001e;
    color: rgb(170, 170, 170);
    border-color: rgb(119, 119, 119);
}

.res-nightmode #search input[type="text"] {
    color: black;
}
.res-d2x-nightmode .Post__titleLink {
    color: #14ef9b;
}

.res-d2x-nightmode .Post__titleLink:visited {
    color: #14ef9b;
}

.Post__linkFlair {
    background-color: #14ef9b;
    color: #13001e;
    border: 1px solid #13001e;
}

.Post.m-profile {
    border: 1px solid #13001e;
}

.BlueBar__account {
    background-color: #13001e;
}

.SubscriptionBar {
    border-bottom: 1px solid gray;
    background-color: #13001e;
}

.res-d2x-nightmode .Media.m-profile.m-embed, .res-d2x-nightmode .Media.m-profile.m-image, .res-d2x-nightmode .Media.m-profile.m-video {
    background: #13001e;
}
    
.res-d2x-nightmode .StyledHtml {
    color: #14ef9b;
}

.res-d2x-nightmode .Media.m-profile.m-embed, .res-d2x-nightmode .Media.m-profile.m-image, .res-d2x-nightmode .Media.m-profile.m-video, .res-d2x-nightmode .ProfileTemplate__sidebar {
    background: #13001e;
}

.gexlcR {
    color: #7fddc2;
}

.kvfCJA {
    color: #7fddc2;
}


/* Voting and Post icons */

.PostThumbnail__icon {
    color: #ff6c7d;
}


.VoteArrow.m-unvoted {
    color:  #896070;
}

.VoteArrow.m-unvoted {
    color:  #896070;
}

.Post__score {
    color: #896070;
}


/* Sidebar */

.ProfileSidebar__follow {
    color: #fff;
    background: #1e0b38;
}

.ProfileSidebar__dropdownTitle {
    color: #1e0b38;
}

.SubredditListItem__subscribe {
    color: #fff;
    background: #1e0b38;
}

.Post__authorFlair {
    color: #555;
    background-color: #14ef9b;
    border: 1px solid #ddd;
}

.res-nightmode .sidebox .spacer, .res-nightmode .side .linkinfo {
    background-color: #13001e;
}

.res-nightmode .sidebox, .res-nightmode .subreddit-info, .res-nightmode .raisedbox, .res-nightmode .login-form-side, .res-nightmode .interstitial-subreddit-description {
    background-color: #13001e;
    color: #13001e;
    border-color: #13001e;
}


/* New Profile Colors Fixed */

.ProfileSidebar__dropdownTitle {
    color: #14ef9b;
}


injected stylesheet
.res-d2x-nightmode .UserTopSubredditsSidebar__header, .res-d2x-nightmode .SubredditListItem__subscribers, .res-d2x-nightmode .UserModeratedSubredditsSidebar__header, .res-d2x-nightmode .UserSpecialsListSidebar__header, .res-d2x-nightmode .UserSpecialsListSidebar__title, .res-d2x-nightmode .UserSpecialsListSidebar__date, .res-d2x-nightmode .TrophyCaseSidebar__header, .res-d2x-nightmode .TrophyCaseSidebar__trophyTitle, .res-d2x-nightmode .TrophyCaseSidebar__trophyDescription, .res-d2x-nightmode .TrendingProfilesSidebar__header, .res-d2x-nightmode .BlueBar__karma, .res-d2x-nightmode .ProfileSidebar__displayName, .res-d2x-nightmode .ProfileSidebar__description, .res-d2x-nightmode .ProfileSidebar__counters, .res-d2x-nightmode .ProfileSidebar__followDescription, .res-d2x-nightmode .Post__score, .res-d2x-nightmode .StyledHtml, .res-d2x-nightmode .Post__authorComment .StyledHtml, .res-d2x-nightmode .Post__commentContainer, .res-d2x-nightmode .ProfileVoiceAd__title, .res-d2x-nightmode .ProfileVoiceAd__description, .res-d2x-nightmode .ProfileVoiceAd__button {
    color: #14ef9b;
}


.res-d2x-nightmode .BlueBar__account, .res-d2x-nightmode .ProfileSidebar__titleContainer, .res-d2x-nightmode .Post, .res-d2x-nightmode .CommentListing__comment {
    background-color: #13001e;
    color: #13001e;
    border-color: #13001e;
}

.res-d2x-nightmode .ProfileTemplate.m-updated, .res-d2x-nightmode .ProfileBarDropdown__list, .res-d2x-nightmode .ProfileSidebar__counterInfo, .res-d2x-nightmode .ProfileBetaConfirmationPage {
    background-color: #13001e;
    color: #13001e;
    border-color: #13001e;
}

.SubscriptionBar__loading, .SubscriptionBar__subredditLink {
    color: #14ef9b;
    text-decoration: none;
}

.res-d2x-nightmode .SubscriptionBar__subredditListTarget {
    color: #14ef9b;
}

.res-d2x-nightmode .SubscriptionBar {
    background-color: #13001e;
}

.StyledHtml blockquote, .StyledHtml code, .StyledHtml pre, .StyledHtml pre code {
    background-color: #13001e;
}

.SubscriptionBar__more {
    color: #f30000;
}

.ProfileBarDropdown__list, .res-d2x-nightmode .ProfileSidebar__counterInfo, .res-d2x-nightmode .ProfileBetaConfirmationPage {
    background-color: #1e0b38;
    color:#14ef9b;
    border-color: #13001e;
}

.res-d2x-nightmode .ProfileTemplate.m-updated, .res-d2x-nightmode .ProfileBarDropdown__list, .res-d2x-nightmode .ProfileSidebar__counterInfo, .res-d2x-nightmode .ProfileBetaConfirmationPage {
    background-color: #13001e;
    color: #7fddc2;
    border-color: #13001e;
}

.fFxXIv {
    font-size: 12px;
    color: #7fddc2;
    margin-bottom: 10px;
    line-height: 15px;
}

.iwwDMe {
    font-size: 12px;
    color: #14ef9b;
    font-weight: bold;
    margin-bottom: 10px;
}

.dlPost {
    margin: 0 0 5px;
    color: #7fddc2;
    font-size: 12px;
    line-height: 17px;
}

.ProfileModeration__description {
    font-size: 12px;
    color: #14ef9b;
    margin-bottom: 10px;
    line-height: 15px;
}

/* Fixes for new profiles again again again aGAIN */

.res-d2x-nightmode #container > .App .SubscriptionBar {
    background-color: #13001e;
}

.res-d2x-nightmode #container > .App .BlueBar#ff6c7d {
    background-color: #ff6c7d;
}

.res-d2x-nightmode #container > .App .BlueBar__account, .res-d2x-nightmode #container > .App .ProfileSidebar__titleContainer, .res-d2x-nightmode #container > .App .Post, .res-d2x-nightmode #container > .App .CommentListing__comment {
    background-color: #13001e;
    color: #13001e;
    border-color: #13001e;
}

.ProfileTemplate__body {
    padding-right: 32px !important;
    --x-sidebar-width: 344px;
    background-color: #13001e;
}

/* Fixes 2019 */
.res-nightmode .link {
    background-color: #13001e;
    border-color: rgb(119, 119, 119);
}
}
